site_name: OpenSEM
site_description: Open Source Small Expert Models Factory
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - content.code.copy

nav:
  - Home: index.md
  - Architecture: architecture.md
  - Tutorials:
    - Quick Start: tutorials/quick_start.md
    - Data Forge: tutorials/data_forge.md
  - Notebooks: notebooks.md
